name: Deploy Identity API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build Docker image
      run: docker build -t bulletshopidentityapi.azurecr.io/identity-api:latest .

    - name: Push Docker image to ACR
      run: |
        az acr login --name bulletshopidentityapi
        docker push bulletshopidentityapi.azurecr.io/identity-api:latest

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: bulletshop-identity-api
        images: bulletshopidentityapi.azurecr.io/identity-api:latest